<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emote_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{51,49}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_12_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,53},{51,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_12_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,53},{51,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_12_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,53},{51,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{51,49}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{51,49}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{51,49}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_12_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_12_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,53},{51,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_12_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,53},{51,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_12_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,53},{51,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emote_12.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:253d8b6bdd562e1492ecd246d231a9f5$</string>
            <key>textureFileName</key>
            <string>emote_12.png</string>
        </dict>
    </dict>
</plist>
