<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emote_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,104},{51,49}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{51,49}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_10_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,53},{51,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_10_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{51,49}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{51,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,49}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{51,49}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,53},{51,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{51,49}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_10_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,104},{51,49}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_10_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{51,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
            <key>emote_10_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,49}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{51,49}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emote_10.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:389b9f009105b197d3570d3c8f78c9ec$</string>
            <key>textureFileName</key>
            <string>emote_10.png</string>
        </dict>
    </dict>
</plist>
