<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kabz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,610},{94,101}}</string>
                <key>offset</key>
                <string>{-102,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{94,101}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,537},{168,71}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,46},{168,71}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,293},{168,73}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,44},{168,73}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,463},{168,111}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,25},{168,111}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{168,147}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,6},{168,147}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,341},{190,121}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,12},{190,121}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{196,119}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,13},{196,119}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,220},{204,119}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,13},{204,119}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{214,117}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,14},{214,117}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,105},{222,113}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,16},{222,113}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{230,107}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{230,107}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,220},{80,71}}</string>
                <key>offset</key>
                <string>{-57,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,46},{80,71}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{236,101}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{236,101}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,293},{168,73}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,44},{168,73}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,97}}</string>
                <key>offset</key>
                <string>{27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,34},{242,97}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{176,71}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,46},{176,71}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,464},{172,71}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,46},{172,71}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,537},{168,71}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,46},{168,71}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,537},{168,71}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,46},{168,71}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,537},{168,71}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,46},{168,71}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
            <key>kabz_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,537},{168,71}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,46},{168,71}}</string>
                <key>sourceSize</key>
                <string>{298,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kabz.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc7a064faf572caa377b6a23ba9f5a0f$</string>
            <key>textureFileName</key>
            <string>kabz.png</string>
        </dict>
    </dict>
</plist>
