<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kadang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,642},{98,101}}</string>
                <key>offset</key>
                <string>{-62,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{98,101}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,642},{124,69}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{124,69}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,403},{148,69}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,51},{148,69}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,555},{138,69}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,51},{138,69}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,571},{130,69}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{130,69}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,144},{126,69}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,51},{126,69}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{124,69}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,51},{124,69}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,626},{124,69}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{124,69}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,626},{124,69}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{124,69}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{166,109}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{166,109}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{180,113}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{180,113}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,697},{82,85}}</string>
                <key>offset</key>
                <string>{-48,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,26},{82,85}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,127},{188,119}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{188,119}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{190,123}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{190,123}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,123}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{190,123}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,215},{186,125}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{186,125}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,248},{182,123}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{182,123}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{176,117}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,18},{176,117}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,444},{166,109}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,26},{166,109}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,73},{124,69}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{124,69}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{190,121}}</string>
                <key>offset</key>
                <string>{24,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{190,121}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,474},{156,95}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,25},{156,95}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{124,69}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{124,69}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{124,69}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{124,69}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{124,69}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{124,69}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,373},{176,69}}</string>
                <key>offset</key>
                <string>{-31,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,51},{176,69}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
            <key>kadang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{132,69}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,51},{132,69}}</string>
                <key>sourceSize</key>
                <string>{238,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kadang.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d9612bffd826a6552ce34972b9e8b79$</string>
            <key>textureFileName</key>
            <string>kadang.png</string>
        </dict>
    </dict>
</plist>
