<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>THS_1.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>317</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>THS_2.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>317</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>319</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>THS_3.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>317</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>638</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>THS_4.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>317</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>98</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>THS_5.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>317</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>319</integer>
				<key>y</key>
				<integer>98</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>THS_6.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>317</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>638</integer>
				<key>y</key>
				<integer>98</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>THS_7.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>317</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>196</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>THS_8.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>317</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>319</integer>
				<key>y</key>
				<integer>196</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>THS_9.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>317</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>638</integer>
				<key>y</key>
				<integer>196</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>THS_10.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>317</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>THS_11.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>317</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>319</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>THS_12.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>317</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>638</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>THS_13.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>317</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>392</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>THS_14.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>317</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>319</integer>
				<key>y</key>
				<integer>392</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>sameStraightAnim0.png</string>
			<key>realTextureFileName</key>
			<string>sameStraightAnim0.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>